

#acchead {
    height:100px;
    background:#FFFFFF;
    border:1px solid #CCC;
    width:100%;
    margin-top:-12px;
}
.maindiv{
	height:740px;
	/*width:1320px;	background-color:#210B61;*/
	margin:0px auto;
	padding-top:10px;
	margin-bottom:15px;
}

.maindiv-cont {
    width:100%;
    position:fixed;
    top:0px;
}

#tfheader{
		background-color:#c3dfef;
}

#tfnewsearch{
		float:right;
		padding:20px;
}

.tftextinput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
	clear:both;
}

/**USER IMAGE**/

.userpic
{
    width: 200px; /* These are your circle dimensions */
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center center; /* Center image in the circle*/
    background-size: cover; /*Make sure it covers the circle, as there is no bg repeat*/
}

/****************/
/*Upload button*/
/**************/
#upbtn {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
#upbtn:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
#upbtn::-moz-focus-inner {
  border: 0;
}
#upbtn{
	clear:both;
}

#bottom{
	height:80px;
    background:#FFFFFF;
    border:1px solid #CCC;
    width:100%;
    margin-top:20px;
}



